In [1]:
import JEL_Mapper as jel
import pandas as pd

C:\Users\anike\anaconda3\envs\kite\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
code_to_term, term_to_code = jel.load_data()

In [3]:
def top_codes(url):
    trie = jel.get_trie(term_to_code)
    text = jel.get_data_url(url)
    letter, codes = jel.get_codes_class(text, term_to_code, code_to_term, trie)
    if letter == "" and codes == {}:
        print("No codes found.")
        return None
    
    else:
        data = {'Code' : [], 'Term' : [], 'Count' : []}
        print('Top Code Category : ' + letter + ' (' + code_to_term[letter] + ')\n\n\n')
        for i in codes:
            data['Code'].append(i)
            data['Term'].append(code_to_term[i])
            data['Count'].append(codes[i])
        df = pd.DataFrame(data)
        return df

In [6]:
url = 'https://economics.harvard.edu/economic-fields/economic-development'
#url = 'https://en.wikipedia.org/wiki/Economics'
df = top_codes(url)
print('--- Top codes and their counts ---\n')
df

Top Code Category : F (International Economics)



--- Top codes and their counts ---

  Code                     Term  Count
0  F63     Economic Development      5
1    N         Economic History      4
2  P16        Political Economy      4
3    F  International Economics      2
4  B26      Financial Economics      1
5    L  Industrial Organization      1
6  P35         Public Economics      1